$height100:100%;
$width100:100%;
$positionRelative:relative;
$positionAbsolute:absolute;
$transparent:transparent;
@mixin -webkit-tab-height-color(){
  //去除外框
  outline: 0;
  //去除聚焦时的阴影
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: $transparent;
}

html {
  //设置通用字体
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  //chrome字体禁止缩放
  -webkit-text-size-adjust: 100%;
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, ul, p, fieldset {
  //清楚默认外边距
  margin: 0;
}

ul, ol, li, dl, dt, dd, tr, td, fieldset, input {
  //去除默认内边距
  padding: 0;
}

a,input,textarea,select,button{
  @include -webkit-tab-height-color();
}

a{
  //去除下划线
  text-decoration: none;
}
a:active{
  @include -webkit-tab-height-color();
}

table {
  //把表格边框显示为一条单独的边框
  border-collapse: collapse;
  //设置相邻单元格的边框间的距离为0
  border-spacing: 0
}

img, input, button {
  //去除边框
  border: none;
}

li {
  //去除默认圆点
  list-style: none;
}

img {
  //使图片靠上对其
  vertical-align: top;
  //图片自适应
  max-width: 100%;
  height: auto;
}

input,textarea,select,button{
  //清除ios默认圆角
  border-radius: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  //统一表单的样子
  -webkit-appearance: button;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  //统一搜索框的样式
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


.icon-title-search{
  ::v-deep .van-nav-bar__title{
    width:90%;
    max-width: 100%;
  }
}
.image-content{
  width: 40px;
  height: 40px;
}

/* 全局公共样式  */


/* 单行和多行溢出省略号 */
.ell{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.multi-ell{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 扩展可点击区域  */
.extend-clickable-area{
  position: $positionRelative;
}
.extend-clickable-area::before{
  content:'';
  position:$positionAbsolute;
  top:-10px;
  bottom:-10px;
  left:-10px;
  right:-10px;
}

/* 右箭头 */
.arrow-right{
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #C8C8CD;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}
/* css 十字形  */
.icon-cross{
  position:$positionRelative;
  width:36px;
  height: 36px;
  overflow: hidden;
}
.icon-cross::before{
  content: "";
  position: $positionAbsolute;
  top:15px;
  width:100%;
  height: 6px;
  background-color: #5AA2E7;
}
.icon-cross::after{
  content: "";
  position: $positionAbsolute;
  left:15px;
  width:6px;
  height: $height100;
  background-color: #5AA2E7;
}

::v-deep .van-image__img{
  border-radius:50%
}

.bgs-color{
  background-color: #e7e3e3;
  height:$height100;
}

::v-deep .van-button{
  &:after{
    border:$transparent
  }
}
.swiper-images{
  width: $width100;
  height: 160px;
}
::v-deep .van-haptics-feedback{
  height: $height100;

}
::v-deep .van-ellipsis{
  height: $height100;
}
::v-deep .van-swipe__indicator--active{
  width: 12px;
  border-radius:1px;
}
::v-deep  .van-nav-bar--fixed{
  z-index: 120;
}
.right-top{
  position: fixed;
  top:25%;
  right:8px;
  background-color: rgba(0,0,0,.3);
  border-radius: 10px;
  .right-li{
    padding:4px;
    span{
      font-size:10px;
    }
  }
}
.index-header-26{
  position: fixed;
  z-index: 0;
}
.news-item{
  padding:4px;
}
.font-title{
  font-size: 16px;
}
.font-sub,font-artists{
  font-size: 12px;
  color: #D1D5DB;
}
.artists-item{
  padding:4px 0;
}
.font-artists{
  padding-right: 2px;
}
.mvFirstList{
  padding-bottom: 10px;
  margin: 10px;
}
.name-center-mv{
  width: 100px;
  height: 120px;
}
.new-cover,.mv-center{
  height: 100%;
  width:100%;
}
.font-name{
  padding:8px;
}
.a-scroll{
  overflow: hidden;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  over-flow: auto;     /* winphone8和android4+ */
  -webkit-overflow-scrolling: touch;    /* ios5+ */
  overflow-x: auto;
  -webkit-tap-highlight-color: transparent;
  overflow-y: hidden;
}
.item-playCount{
  color: #fff;
  top:0;
  right:0;
}
