@font-face {
  font-family: "iconfont"; /* Project id 3164262 */
  src: url('iconfont.woff2?t=1657605330888') format('woff2'),
       url('iconfont.woff?t=1657605330888') format('woff'),
       url('iconfont.ttf?t=1657605330888') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diandian:before {
  content: "\e653";
}

.icon-a-zuojiantouzhixiangzuojiantou:before {
  content: "\e60d";
}

.icon-xiangxiajiantoushixin:before {
  content: "\e62b";
}

.icon-yun:before {
  content: "\e634";
}

.icon-dianzanred:before {
  content: "\ec7f";
}

.icon-dongtai:before {
  content: "\e612";
}

.icon-dongtai-copy:before {
  content: "\f1fd";
}

.icon-guanzhu:before {
  content: "\e601";
}

.icon-guanzhu-copy:before {
  content: "\f1fc";
}

.icon-jia:before {
  content: "\e620";
}

.icon-wodexiaoxi:before {
  content: "\e697";
}

.icon-shezhi:before {
  content: "\e8b7";
}

.icon-20:before {
  content: "\e614";
}

.icon-shoucang:before {
  content: "\e7d1";
}

.icon-shoucang-copy:before {
  content: "\f1fa";
}

.icon-aixin1:before {
  content: "\e85c";
}

.icon-wode-copy:before {
  content: "\f1fb";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-wode:before {
  content: "\e606";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e629";
}

.icon-suijibofang:before {
  content: "\e603";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-play-circle-list:before {
  content: "\e619";
}

.icon-sousuo:before {
  content: "\e600";
}

.icon-aixin:before {
  content: "\e622";
}

.icon-danquxunhuan:before {
  content: "\f1f9";
}

.icon-yun_o:before {
  content: "\ebb3";
}

.icon-yun_o-copy:before {
  content: "\ebb4";
}

.icon-faxian:before {
  content: "\e80f";
}

.icon-faxian-copy:before {
  content: "\e810";
}

